:root {
--main-color: #2e2f42;
--accent-color: #4d5ae5;
--secondary-color: #434455;
--another-color: #8e8f99;
--new-color: #F4F4FD;
}

p, h1, h2, h3 {
    margin-top: 0;
    margin-bottom: 0;
}

ul, ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #FFFFFF;
    color: var(--secondary-color); 
}
.container { 
    width: 100%;
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.link {
    text-decoration: none;
}
.list {
    list-style-type: none;
}

.section-subtitle {
    color: var(--main-color);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    }

.section-text {
    color: var(--secondary-color);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}    
.section-title span {
    color: var(--accent-color);
 }   
 
.visually-hidden {
     position: absolute;
     width: 1px;
     height: 1px;
     margin: -1px;
     border: 0;
     padding: 0;
     white-space: nowrap;
     clip-path: inset(100%);
     clip: rect(0 0 0 0);
     overflow: hidden;
 }

 img {
    display: block;
    max-width: 100%;
    height: auto;
 }
    
/*------------HEADER-----------*/

header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow:  0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-logo {
    color: var(--accent-color);
        font-size: 18px;
        font-family: "Raleway", sans-serif;
        font-weight: 800;
        font-style: normal;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        margin-right: 76px;
        padding: 24px 0;
     
}
.header-logo-accent {
    color: var(--main-color);
}
.header-container {
    display: flex;
    align-items: center;  
    
    }
.header-menu {
   display: flex;
   gap: 40px;
   color: #404bbf;
   transition:  color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}
 
 .header-navigation {
    display: flex;
    align-items: center; 
 }

.header-address {
    display: flex;
    gap: 40px;
}

.header-menu-link:hover,
.header-menu-link:focus {
   color: #404bbf;
}

.header-menu-link {
    color: var(--main-color);
        display: block;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        font-style: normal;
        padding: 24px 0;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      
}

.header-address {
    font-style: normal;
    color: var(--secondary-color);
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        margin-left: auto;
}
.header-line {
    position: relative;
    color: #404bbf; 
    
    }
.header-line::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404BBF;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
} 
.header-adress-link {
    color: var(--secondary-color);
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        transition:  color 250ms cubic-bezier(0.4, 0, 0.2, 1)
    }
    
.header-adress-link:hover,
.header-adress-link:focus {
    color: #404bbf; 
}
     
/*------------HERO-----------*/
.hero {
    margin: 0 auto;
    max-width: 1440px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #2E2F42;
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), 
    rgba(46, 47, 66, 0.7)), url(../images/hero-bg.jpg);
}

.hero-title {
    color: #FFF;
        text-align: center;
        font-size: 56px;
        font-weight: 700;
        line-height: 1.07;
        letter-spacing: 0.02em;
        font-style: normal;
        display: block;
            margin: 0 auto;
            max-width: 496px;
            
}

.hero-btn {
    color:  #FFF;
         font-size: 16px;
        font-family: inherit;
         font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.04em;
        background: var(--accent-color);
        cursor: pointer;
        padding: 16px 32px;
        border: none;
        display: block;
        margin: 0 auto;
        margin-top: 48px;
        min-width: 169px;
        border-radius: 4px;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.hero-btn:hover,
.hero-btn:focus { 
background-color: #404BBF;
}

/*-----------FEATURES----------*/

.featurs { 
  padding-top: 120px;
  padding-bottom: 120px;
}
.featurs-icons {
height: 112px;
border-radius: 4px;
background: var(--new-color);
display: flex;
align-items: center;
justify-content: center;
margin-bottom: 8px;
}

.featurs-list {
    display: flex;
    gap: 24px;
    }

.featurs-subtitle {
    width: calc((100% - 24px*3) / 4);
}


.featurs-item {
    margin-bottom: 8px; 
  }
/*------------DOING-----------*/

.doing {
    padding-top: 0;
    padding-bottom: 120px;
    
}
.doing-list {
    display: flex;
    gap: 24px;
}
.doing-item{
    width: calc((100% - 48px) / 3)
}
.doing-title {
    color: var(--main-color);
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        margin: 0 auto;
        margin-bottom: 72px;
}

/*------------TEAM-----------*/

.team {background: var(--new-color);
padding: 120px 0;
}

.team-icons-list {
    width: 40px;
    height: 40px;
}
.team-item-icons {
    fill: var(--new-color);
}

.team-list { 
    display: flex;
    gap: 24px;
    justify-content: center;
}
 
.team-list-m {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.team-title {
    color: var(--main-color);
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        margin-bottom: 72px;
}
.team-item { 
        background: #FFF;
        width: calc((100% - 24px*3) / 4);
        border-radius: 0px 0px 4px 4px;
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
   }
.team-member {
     text-align: center;
     margin-bottom: 8px;
}
.team-profetional {
        color: #2E2F42;
        text-align: center;
         margin-bottom: 8px;
            }
.team-container {
    padding: 32px 0; 
}

.taem-icons-link {
    width: 100%;
    height: 100%;
    background-color: var(--accent-color);
    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);  
    } 

.taem-icons-link:hover,
.taem-icons-link:focus {
    background-color: #404bbf;
}

/*-----------CASTOMERS-----------*/

.customers {
    padding-top: 120px;
    padding-bottom: 120px;
}

.customers-title {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    color: var(--main-color);
    margin-bottom: 72px;
    }
 
.customers-list {
    display: flex;
    gap: 24px;
    margin: 0 auto;
    }

.customers-item {
    width: calc((100% - 120px) / 6);
    height: 88px;
}
.customers-icon{
    fill: currentColor;
}
.customers-icon-link {
    width: 100%;
    height: 100%;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    display: flex; 
    align-items: center;
    justify-content: center;
    color: var(--another-color);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-icon-link:hover,
.customers-icon-link:focus {
    color: #404BBF;
    border-color: #404BBF;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08); 
}

/*------------FOOTER-----------*/

.footer {
    background-color: #2E2F42;
    padding: 100px 0;
    position: relative;
            }
     
.footer-div {
    display: flex;
    align-items: baseline;
} 
  
 .footer-container {
    margin-right: 120px;
    max-width: 264px;
    }  

.footer-logo-link {
    color: var(--accent-color);
        font-size: 18px;
        font-family:"Raleway", sans-serif; 
        font-weight: 800;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        display: inline-block;
        margin-bottom: 16px;
}

.footer-logo-accent {
    color: #f4f4fd;
}

.footer-text-one {
    color: #f4f4fd;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
        
            }
                       
     .footer-list {
        display: flex;
        gap: 16px;
                    }

    .footer-item {
        width: 40px;
        height: 40px;
    }

    .footer-icon {
     fill: #F4F4FD;
         }

  .footer-text-two {
    color: #FFF;
    font-size: 16px;
        font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    align-items: center;
    margin-bottom: 16px;
    color: #FFFFFF;
            } 

  .footer-social {
    display: flex;
    background-color: var(--accent-color);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    transition:background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.footer-social:hover,
.footer-social:focus {
    background-color: #31d0aa;
    }


/*------------PORTFOLIO-----------*/

/*------------HEADER-----------*/
.header-line {
    position: relative;
}
.header-line::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404BBF;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

    /*------------BATTON-----------*/

section {
    padding-top: 96px; 
    padding-bottom: 120px;
}
.button {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-btn {
    font-family: inherit;
    color: var(--accent-color);
    background-color: #F4F4FD;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    padding: 12px 24px;
    border: 1px solid #e7e9fc;
border-radius: 4px;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;
       } 

.button-btn:hover,
.button-btn:focus {
    color: #FFFFFF;
    background-color: #404BBF;
    border: 1px solid transparent;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

img {
    display: block;
}

.service-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    margin-bottom: 72px;
    row-gap: 48px;
   }
.service-item {
    width: calc((100% - 48px) / 3);
}
.service-name {
    padding: 32px 16px;

}
.service-link {
    text-decoration: none;
    display: block;
    width: 100%;
height: 100%;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.service-link:hover,
.service-link:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08); 

}

.service-cover {
    position: relative;
    overflow: hidden;
    }


  .service-link:hover .service-cover-text,
  .service-link:focus .service-cover-text {
      transform: translateY(0%);

   }
       
.service-cover-text {
background: var(--accent-color);
align-items: center;
justify-content: center;
position: absolute;
overflow: auto;
top: 0;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--new-color);
padding: 40px 32px;
background-color: #4d5ae5;
width: 100%;
height: 100%;
transform: translateY(100%);
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.name-container {
        padding: 32px 16px;
        border: 1px solid #e7e9fc;
        border-top: none;
     }

.service-title {
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
            margin-bottom: 8px;
                    }
                    
.service-text {
        }

.footer {
            color: var(--secondary-color);
                     }
                     

/*------------MODAL-----------*/

.backdrob {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
background: rgba(46, 47, 66, 0.40);
transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
} 
.backdrob.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0);
}
.modal {
width: 408px;
min-height: 584px;
border-radius: 4px;
background: #FCFCFC;
box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%, -50%) scale(1);
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
padding: 72px 24px 24px 24px;
}         

.modal-button {
    border: none;
    background: transparent;
    width: 24px;
    height: 24px;
    position: absolute;
    top: 24px;
    right: 24px;
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-button:hover,
.modal-button:focus {
    background-color: #404bbf;
    border: none; 
    fill: #ffffff;
}
.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
.modal-icon {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-title {
    color:  #2E2F42;
    font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.02em;
margin-bottom: 16px;
}
.modal-input {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #8E8F99;
background:  #FCFCFC;
margin-bottom: 26px;
padding: 0 10px;
outline: transparent;
}
.modal-input:focus {
    border-color: #4D5AE5;
}
.modal-input::placeholder {
color: var(--navyblue-modal, rgba(46, 47, 66, 0.40));
font-size: 12px;
line-height: 1.17; 
letter-spacing: 0.04em;
}